@import '@/assets/styles/foundation/variable/_color.scss';
@import '@/assets/styles/foundation/variable/_elevation.scss';
@import '@/assets/styles/foundation/variable/_font.scss';
@import '@/assets/styles/foundation/mixin/_animation.scss';
@import '@/assets/styles/foundation/mixin/_mediaqueries.scss';

.c-logo {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  @include media-sp {
    height: 200px;
  }
  @include media-pc {
    height: 450px;
  }
}

.c-logo__image {
  display: block;
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  animation-name: rotate;
  animation-duration: 180s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @include media-sp {
    width: 110%;
  }
  @include media-pc {
    width: 80%;
  }
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}