* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

html {
  @include font-family;
  font-size: $font_size_init;
  color: #FFF;
  word-break: break-all;
}

body {
  line-height: 1.5;
  font-size: $font_size_M;
  background: #291580 linear-gradient(90deg, rgba(#000, 0.8) 0%, rgba(#000, 0) 20%, rgba(#000, 0) 80%, rgba(#000, 0.8) 100%);
}

button {
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

dialog {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}
