@import '@/assets/styles/foundation/variable/_color.scss';
@import '@/assets/styles/foundation/variable/_elevation.scss';
@import '@/assets/styles/foundation/variable/_font.scss';
@import '@/assets/styles/foundation/mixin/_animation.scss';
@import '@/assets/styles/foundation/mixin/_mediaqueries.scss';

.c-choices {
  width: 100%;
  @include media-sp {
    margin-bottom: 10px;
  }
  @include media-pc {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.c-choices__item {
  @include media-sp {
    width: 100%;
  }
  @include media-pc {
    width: 50%;
  }
  &:not(:last-child) {
    @include media-sp {
      margin-bottom: 10px;
    }
  }
  &:nth-child(1),
  &:nth-child(2) {
    @include media-pc {
      margin-bottom: 20px;
    }
  }
  &:nth-child(2n) {
    @include media-pc {
      padding-left: 10px;
    }
  }
  &:nth-child(2n - 1) {
    @include media-pc {
      padding-right: 10px;
    }
  }
}
