@import '@/assets/styles/foundation/variable/_color.scss';
@import '@/assets/styles/foundation/variable/_elevation.scss';
@import '@/assets/styles/foundation/variable/_font.scss';
@import '@/assets/styles/foundation/mixin/_animation.scss';
@import '@/assets/styles/foundation/mixin/_mediaqueries.scss';

.views-header {
  z-index: $header;
  display: flex;
  justify-content: space-between;
}

.views-header__item {
}

.views-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.views-text {
  margin-bottom: 2rem;
  font-size: $font_size_LL;
  text-align: center;
}

.views-button-list {
  width: 100%;
  @include media-pc {
    display: flex;
  }
}

.views-button-list__item {
  @include media-pc {
    width: 50%;
  }
  &:nth-child(odd) {
    @include media-pc {
      padding-right: 10px;
    }
  }
  &:nth-child(even) {
    @include media-pc {
      padding-left: 10px;
    }
  }
  &:not(:last-child) {
    @include media-sp {
      margin-bottom: 10px;
    }
  }
}
