@import '@/assets/styles/foundation/variable/_color.scss';
@import '@/assets/styles/foundation/variable/_elevation.scss';
@import '@/assets/styles/foundation/variable/_font.scss';
@import '@/assets/styles/foundation/mixin/_animation.scss';
@import '@/assets/styles/foundation/mixin/_mediaqueries.scss';

.c-cutin {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 150px;
  top: 20%;
  left: 50%;
  background-color: #000;
  transform: translateX(-50%);
}

.c-cutin__outer {
  z-index: $cutin;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.c-cutin__inner {
  display: block;
  position: relative;
  max-width: 480px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    background-color: #000;
    transform: skewX(-20deg);
  }
  &::before {
    right: 90%;
  }
  &::after {
    left: 90%;
  }
}

.c-cutin__image {
  width: 100%;
  height: auto;
}

.c-cutin__bg {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.fade-enter-active,
.fade-leave-active {
  @include transition(opacity);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  @include transition(transform);
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}
