@import '@/assets/styles/foundation/variable/_color.scss';
@import '@/assets/styles/foundation/variable/_elevation.scss';
@import '@/assets/styles/foundation/variable/_font.scss';
@import '@/assets/styles/foundation/mixin/_animation.scss';
@import '@/assets/styles/foundation/mixin/_mediaqueries.scss';

.c-cutin {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 150px;
  top: 20%;
  left: 50%;
  background-color: #000;
  transform: translateX(-50%);
}

.c-cutin__outer {
  z-index: $cutin;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}

.c-cutin__image {
  display: block;
  width: 100%;
  max-width: 480px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  clip-path: polygon(0 100%, 100px 0, 100% 0, 100% 0, calc(100% - 100px) 100%, 0 100%);
}

.c-cutin__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.7);
  backdrop-filter: blur(3px);
}

.fade-enter-active,
.fade-leave-active {
  @include transition(opacity);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  @include transition(transform);
}

.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
}
