@import '@/assets/styles/foundation/variable/_color.scss';
@import '@/assets/styles/foundation/variable/_font.scss';
@import '@/assets/styles/foundation/mixin/_animation.scss';
@import '@/assets/styles/foundation/mixin/_mediaqueries.scss';


.c-button {
  width: 100%;
  background-color: rgba(#000, 0.5);
  backdrop-filter: blur(5px);
  text-align-last: left;
  border: 2px solid $accent_color;
  border-radius: 2px;
  cursor: pointer;
  @include media-sp {
    padding: 10px;
    font-size: $font_size_M;
  }
  @include media-pc {
    padding: 15px;
    font-size: $font_size_LL;
  }
}
