@import '@/assets/styles/foundation/variable/_color.scss';
@import '@/assets/styles/foundation/variable/_elevation.scss';
@import '@/assets/styles/foundation/variable/_font.scss';
@import '@/assets/styles/foundation/mixin/_animation.scss';
@import '@/assets/styles/foundation/mixin/_mediaqueries.scss';

.c-question {
  width: 100%;
  background-color: rgba(#000, 0.5);
  backdrop-filter: blur(5px);
  border: 2px solid $tertiary_color;
  border-radius: 2px;
  @include media-sp {
    margin-bottom: 20px;
    padding: 10px;
    font-size: $font_size_LL;
  }
  @include media-pc {
    margin-bottom: 30px;
    padding: 20px;
    font-size: $font_size_2XL;
  }
}
