.choices-list {
  @include media-pc {
    display: flex;
    flex-wrap: wrap;
  }
}

.choices-list__item {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  @include media-pc {
    width: 50%;
  }
  &:not(:last-child) {
    @include media-sp {
      margin-bottom: 10px;
    }
  }
  &:nth-child(1),
  &:nth-child(2) {
    @include media-pc {
      margin-bottom: 20px;
    }
  }
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    border-style: solid;
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
    border-width: 32px 20px 32px 0;
    border-color: transparent $accent_color transparent transparent;
  }
  &::after {
    right: 0;
    border-width: 32px 0 32px 20px;
    border-color: transparent transparent transparent $accent_color;
  }
  &.is-disabled {
    visibility: hidden;
  }
}

.choices-list__button {
  z-index: 1;
  display: block;
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $base_color;
  font-size: $font_size_LL;
  border-top: 2px solid $accent_color;
  border-bottom: 2px solid $accent_color;
  cursor: pointer;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    border-style: solid;
    transform: translateY(-50%);
  }
  &::before {
    left: -18px;
    border-width: 30px 18px 30px 0;
    border-color: transparent $base_color transparent transparent;
  }
  &::after {
    right: -18px;
    border-width: 30px 0 30px 18px;
    border-color: transparent transparent transparent $base_color;
  }
  &.is-active {
    background-color: #FF9800;
    &::before {
      border-color: transparent #FF9800 transparent transparent;
    }
    &::after {
      border-color: transparent transparent transparent #FF9800;
    }
  }
  &.is-disabled {
    visibility: hidden;
  }
}
